.custom-checkbox{
  padding-left: 44px;
  padding-right: 40px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
}

.custom-checkbox input:checked + .custom-checkbox-text::before {
  background-color: #FFFFFF;
}

.custom-checkbox input:checked + .custom-checkbox-text::after {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 9px;
  border-left: 2px solid #8663C2;
  border-bottom: 2px solid #8663C2;
  position: absolute;
  left: 5px;
  top: 7px;
  transform: rotateZ(-52deg);
}