@import "src/style/colors";

.avatar-text {

  &:hover {
    .avatar-photo {
      z-index: 0;
    }

    .svg-text {
      z-index: 1;
      background: $modal-background-color;
    }
  }
}

.avatar-photo {
  width: 100%;
  height: 100%;
}

.svg-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 282px;
  z-index: 0;
  text-align: center;
  border-radius: 50%;
  background: $dark-gray;
  svg {
    display: block;
    margin: 106px auto 16px auto;
  }
  div {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
}
