.goto-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #643173;
  display: inline-block;
  margin-right: 4px;
  margin: 0;
}
a{
  text-decoration: none;
  margin-top: 10px;
}
.arrow{
margin-left: 14px;
}