.notification-card {
  display: flex;
  align-items: center;
  max-width: 864px;
  border-bottom: 2px solid #c3748800;
  position: relative;

  .notification-card-content {
    padding: 50px 31px 26px 30px;
    font-family: inherit;
    border-bottom: 1px solid #dbdbdb;

    &:last-child {
      padding-bottom: 30px;
      border: 0;
    }
  }

  & > img {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-bottom:100px;
  }
}

.notification-card:not(:last-child):after {
  content: "";
  position: absolute;
  top: 100%;
  left: 56px;
  border-bottom: 1px solid #dbdbdb;
  width: calc(100% - 85px);
}
.sender-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}
.sender-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 11px;
}
.messege {
  padding: 16px 125px 16px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #fbc6cb;
  margin-bottom: 10px;
}
.top-flex-container {
  display: flex;
  justify-content: space-between;
}
.date,
.time {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8a8a8a;
}
.button-read {
  min-width: 8px;
  cursor: pointer;
  height: 8px;
  background-color: #f45b69;
  border-radius: 50px;
}
.button-read-clicked {
  visibility: collapse;
}

.button-read {
  min-width: 6px;
  cursor: pointer;
  height: 6px;
  background-color: #f45b69;
  border-radius: 50px;
}

.button-read::before {
  content: "";
  display: block;
  min-width: 8px;
  margin-left: 2px;
  margin-right: 5px;
  cursor: pointer;
  height: 8px;
  background-color: #f45b69;
  border-radius: 50px;
}

.round {
  padding-left: 22px;
  margin-bottom: 100px;
}

.notification-card-content > a {
  margin-top: 8px;
  margin-bottom: 0;
}