@import './src/style/colors';

.flex-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & a {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .link-arrow {
    place-self: baseline;
  }
}

.title-head__item {
  padding: 30px 0;
  border-bottom: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
}

.grid-table-container {
  display: grid;
  grid-template-columns: 30px minmax(max-content, 154px) minmax(250px, 578px) minmax(max-content, 120px);
  grid-template-areas: "drag theme name hours";
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  margin-left: -30px;

  &.title-head {
    margin-top: 0;
  }

  &.dragging {
    background: $light-gray;
    transform: scale(1.1, 1);
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0 30px 0;
  }

  & span:not(.nums, .draggable-pointer>span) {
    padding-left: 30px;

    &:focus {
      outline: 0;
    }
  }

  .nums {
    padding-left: 48px;
  }

  .lesson-name {
    font-weight: 600;
  }

  .draggable-pointer {
    display: inline-block;
    padding: 3px;
    height: 24px;
    margin-left: -48px;
    margin-right: 18px;

    & span {
      display: block;
      border-radius: 3px;
      background-color: $dark-gray;
      width: 18px;
      height: 2px;
      margin: 3px 0 0 0;

    }
  }
}