.avatar-text {
  position: relative;
  margin: 149px 197px 186px 99px;

  &:hover {
    .avatar-photo {
      z-index: 0;
    }

    .svg-text {
      z-index: 1;
      background: #8a8a8aa6;
    }
  }
}

.avatar-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 282px;
  z-index: 1;
}

.svg-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 282px;
  z-index: 0;
  text-align: center;
  border-radius: 50%;
  background: #8a8a8a;
  svg {
    display: block;
    margin: 106px auto 16px auto;
  }
  a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
}
