@import "src/style/colors";

a {
  text-decoration: none;
}

.btn-text {
    font-weight: 600;
    line-height: 21px;
    color: $lavender-color;
    border: 0;
    padding:15px 20px;
    background: none;

    &:disabled {
        color: $dark-gray;
        cursor: auto;
    }
}

.ellipse{
  border-radius: 50%;
  padding: 12px;
  margin: 20px 50px;
  width: 45px;
  height: 45px;
  line-height: 12px;
}


