@import "src/style/colors";

.btn {
    font-family: inherit;
    font-weight: 400;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    padding: 15px 30px;

    &~.btn {
        margin-left: 30px;
    }
}

a {
  text-decoration: none;
} 

.btn-fill {
    //line-height: 51px;
    background: $lavender-color;
    color: $white;
    border: 0;

    &.unavailable {
        background: $dark-gray;
    }

    &:hover,
    &:active {
        background: $lavender-button-hover;
    }
}

.btn-white-with-border {
    background: $white;
    border: 1px solid $lavender-color;
    color: $black;

    &.unavailable {
        border: 1px solid $dark-gray;
        color: $dark-gray;
    }

    &:hover,
    &:active {
        background: $lavender-color;
    }
}

.btn-text {
    font-weight: 600;
    line-height: 21px;
    color: $lavender-color;
    border: 0;
    padding:15px 0;
    background: none;
}


