.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transition-styles {
  -webkit-transition: width 0.5s ease-in-out,  margin-left 0.4s ease-in-out,  padding-left ease-in-out 0.4s,  font-size ease-in-out 0.3s,  opacity 0.3s ease-in-out;
  transition: width 0.5s ease-in-out,  margin-left 0.4s ease-in-out,  padding-left ease-in-out 0.4s,  font-size ease-in-out 0.3s,  opacity 0.3s ease-in-out;
}

.main-panel {
  width: 360px;
  background-color: white;
  padding: 42px 42px 70px 67px;
  position: relative;
  -webkit-transition: width ease-in-out 0.5s, padding-left ease-in-out 0.5s;
  transition: width ease-in-out 0.5s, padding-left ease-in-out 0.5s;
  -webkit-box-shadow: 4px 7px 15px #0000001A;
          box-shadow: 4px 7px 15px #0000001A;
  height: 100vh;
  overflow: hidden;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main-panel .main-panel-container {
  width: 262px;
  -webkit-transition: width 0.5s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.5s ease-in-out, opacity 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-panel .top-part {
  padding-left: 23px;
  padding-bottom: 57px;
  width: 239px;
}

.main-panel .top-part-login {
  padding-left: 0;
  padding-bottom: 35px;
  width: 239px;
}

.main-panel .logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0;
  width: 40px;
}

.main-panel .logo-name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 13px;
  width: 138px;
  height: 15px;
}

.main-panel .avatar-block {
  padding-top: 52px;
  width: 216px;
}

.main-panel .padding-top {
  padding-top: 90px;
}

.main-panel .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.main-panel .main-nav-panel {
  width: 262px;
  margin-bottom: 117px;
}

@media (min-width: 359px) {
  .main-panel .collapse-button {
    display: none;
  }
}

.main-panel:hover .collapse-button {
  display: block;
}

.collapsed.main-panel {
  width: 94px;
  padding: 42px 20px 0 20px;
}

.collapsed.main-panel .main-panel-container {
  width: 54px;
}

.collapsed.main-panel .top-part {
  width: 54px;
}

.collapsed.main-panel .avatar-block {
  margin-left: 5px;
  width: 45px;
  pointer-events: none;
}

.collapsed.main-panel .collapse-button {
  display: block;
}

.collapsed.main-panel .left-chevron {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: ease-in-out 0.75s;
  transition: ease-in-out 0.75s;
}

.collapsed + main .content-container {
  width: 1206px;
}

.collapsed .logo-container {
  width: 40px;
  margin-left: 7px;
}

.collapsed .nav-link .links-name,
.collapsed .exit-text,
.collapsed .avatar-name,
.collapsed .avatar-role,
.collapsed .logo-name {
  width: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
}

.collapsed .main-nav-panel {
  width: 54px;
}

.collapsed .nav-link {
  width: 54px;
}

.collapsed .top-part {
  padding-left: 0;
}

.collapsed .bottom-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 60px;
}

.collapsed + main .one-card-content {
  -ms-grid-columns: 153px 826px auto;
      grid-template-columns: 153px 826px auto;
}
/*# sourceMappingURL=MainPanel.css.map */