.main-panel {
  width: 360px;
  background-color: white;
  padding: 42px 42px 70px 67px;
  position: relative;
  transition: width ease-in-out 0.5s, padding ease-in-out 0.5s;
  box-shadow: 4px 7px 15px #0000001A;
  height: 100vh;
  overflow: hidden;
  
  &>.top-part {
    padding-left: 23px;
    padding-bottom: 57px;
  }
  .avatar-block {
    padding: 52px 10px 0 0;
  }
  
  .logo-container {
    min-width: 151px;
    padding-left: 1px;
  }

  .logo {
    width: 40px;
    height: 21px;
  }
  
  .logo-name {
    margin-left: 13px;
    width: 138px;
    height: 15px;
  }

  .bottom-part {
    position: absolute;
    top: 870px;
    padding-left: 13px;
  }

  @media (min-width: 359px) {
    .collapse-button {
        display: none;
    }
  }
  
  &:hover {
  .collapse-button {
    display: block;
    }
  }
}

.collapsed {
  &.main-panel {
    width: 94px;
    padding: 42px 20px 0 20px;

    .collapse-button {
      display: block;
    }

    .left-chevron {
      transform: scale(-1, 1);
      transition: ease-in-out 1s;
    }
  }

  .nav-link .links-name {
    width: 0;
    margin-left: 0;
    opacity: 0;
  }

  .logo-name, .bottom-part>.exit>div, .avatar-name, .avatar-role {
      transform: scale(0, 1);
      transition: ease-in-out 0.5s;
  }
  
  .top-part {
    padding-left: 4px;
  }
  
  &.bottom-part>button {
    margin-left: -16px;
  }
  
}