.main-panel {
  width: 360px;
  background-color: white;
  height: 100vh;
  padding: 42px 42px 70px 90px;
  position: relative;
  overflow: hidden;
  transition: ease-out 0,5;
  .panel-container {
      margin: 42px 42px 0px 73px;
  }
  
  .content-container {
      margin: 0 17px;
  }
  
  
  .avatar-block {
      margin-top: 90px;
  }
  
  .logo-container {
    min-width: 151px;
    display: flex;
    align-items: center;
    padding-left: 1px;
  }
  .logo {
    margin-right: 13px;
    width: 40px;
    height: 21px;
  }
  .logo-name {
    width: 138px;
    height: 15px;
  }
}

.collapse-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 29px;
  height: 46px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 198px;
  font-size: 0;
  transition: ease 0.25s;
  cursor: pointer;

  &>.left-part {
    align-items: center;
    background-color: #A786DF;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    position: relative;
    padding-left: 3px;
  }

  &>.right-part {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 46px;
    background-color: #A786DF;
  }
}

.main-panel {
  @media (min-width: 359px) {
    .collapse-button {
        display: none;
    }
  }
  &:hover {
  .collapse-button {
    display: block;
    }
  }
}

.collapsed {
  width: 94px;
  padding-left: 24px;
  .collapse-button {
    display: block;
  }
  .left-chevron {
    transform: rotate(180deg);
  }
}
