.homework-result-container {
  padding: 50px 0 50px 45px;

  table {
    width: 100%;
  }

  th {
    font-size: 20px;
    font-weight: 600;
    line-height: 23.48px;
    text-align: start;
    height: 58px;
  }

  tr {
    text-align: start;
    align-items: center;
  }

  .drop-down-filter {
    justify-content: flex-start;
  }

  .filter-inside {
    height: 58px;
    position: relative;
  }

  .filter-inside::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0px; 
    bottom: 0px;    
    left: 0px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
  }
}

.homework-result-header {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.13px;
}