.homework-result-container {
  padding: 50px 0 50px 45px;
  width: 940px;
  font-size: 18px;

  .table-row {
    display: grid;
    grid-template-columns: minmax(141px, 305px) minmax(69px, 244px) minmax(98px, 245px) 109px;
    align-items: center;

    &.header {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 23.48px;
      font-weight: 600;
    }
  }

  .table-row + .table-row {
    margin-top: 31px;
  }

  .drop-down-filter {
    justify-content: flex-start;
  }

  .filter-inside {
    height: 58px;
    position: relative;
  }

  .filter-inside::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0px; 
    bottom: 0px;    
    left: 0px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
  }
}

.homework-result-header {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 21.13px;
}