.settings-container {
  margin: 70px 0 0 65px;

  & > img{
    position: absolute;
    top: 149px;
    left: 864px;
  }
  .avatar-text{
    top: 0;
    position: initial;
  }
  .submit-button {
    margin-top:70px;
    font-weight: 400;
  font-size: 18px;
  line-height: 21px;
    width: 190px;
    height: 51px;
  border-radius: 5px;
  padding: 15px 30px;
  border:none;
  color:#A786DF;
  background: #F6F7F9;
  cursor: pointer;
  }
  .reset-button {
    margin-top:70px;
    font-weight: 400;
  font-size: 18px;
  line-height: 21px;
    width: 190px;
    height: 51px;
  border-radius: 5px;
  padding: 15px 30px;
  border:none;
  color:#A786DF;
  background: #F6F7F9;
  cursor: pointer;
  }
  .submit-button:hover{
    width: 190px;
    height: 51px;
  border-radius: 5px;
  padding: 15px 30px;
  border:none;
  background: #A786DF;
  color:#ffffff;
  }
  p{
    margin-top: 0;
  }
}
.styles-for-settings-buttons{
  button{
    width: 190px;
    margin-top: 70px;
  }
}
.settings {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 50px;
  position: relative;

}
p {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.data-block {
  margin-bottom: 29px;
  input,
  .goto-change-password {
    width: 437px;
    padding: 14px 20px 15px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
}

.goto-change-password {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-left-inputs {
  margin-left: 20px;
}

.settings-photo {
position: relative;
margin-left: 99px;
margin-top: 36px;
cursor: pointer;
}

.circle-password {
  width: 8px;
  height: 8px;
  background-color: #8a8a8a;
  border-radius: 50px;
  display: inline-block;
}

.circle-password:not(:last-child) {
  margin-right: 10px;
}

.title{
  font-weight: 600;
font-size: 22px;
line-height:29px;
margin-bottom: 50px;
margin-top: 50px;
}
.grid-container{
  row-gap:30px;
  column-gap:20px;
  display: grid;
  grid-template-columns:438px 438px;
  grid-template-rows:87px 87px;
  input{
    padding: 14px 20px 15px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    outline: 1px solid #dbdbdb;
    border-radius: 5px;
  }
}
.repeate-password{
  grid-row: 2/3;
  grid-column: 2/3;
}
.new-password{
  grid-row: 2/3;
  grid-column: 1/2;
}
.error-message{
  margin-top: 5px;
  color: #A786DF;
}
.oknot{
 display: block;
}
.ok{
display: none;
}
.is-invalid{
  background-color: red;
}
.max-width-datepicker{
  max-width: 438px;
}
input:focus { 
  outline: 1px solid #A786DF;
}
.password{
  grid-row: 1/2;
  grid-column: 1/2;
}