.settings-container {
  padding-left: 45px;

  .avatar-text {
    top: 0;
    position: initial;
  }

  .buttons-group {
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .btn-text {
    margin-left: 58px;
  }

  p {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .settings-photo {
    position: relative;
    margin-left: 99px;
    margin-top: 50px;
    cursor: pointer;
  }

  .circle-password {
    width: 8px;
    height: 8px;
    background-color: #8a8a8a;
    border-radius: 50px;
    display: inline-block;
  }

  .circle-password:not(:last-child) {
    margin-right: 10px;
  }

  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .error-message {
    margin-top: 5px;
    color: #a786df;
  }
  .oknot {
    display: block;
  }
  .ok {
    display: none;
  }
  .is-invalid {
    background-color: red;
  }

  .password {
    grid-row: 1/2;
    grid-column: 1/2;

    & > .form-input {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}