@import '../../../style/_colors.scss';
.register-link{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color:  $lavender-color;
}
.login-link{
  display: block;
  font-weight: 700;
font-size: 18px;
line-height: 21px;
color:$black;
margin-bottom: 15px;
}