@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.add-task-light {
  color: #ffffff;
  width: 243px;
  height: 51px;
  background: #a786df;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 30px;
}

.link-saved-tasks {
  width: 249px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #a786df;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
