@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

a {
    text-decoration: none;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.add-task-light {
color: #FFFFFF;
width: 243px;
height: 51px;
background: #A786DF;
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 15px 30px;
}

.link-saved-tasks{
    width: 252px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A786DF;
    border-radius: 5px;
    color: #000000;
}