.secret-input {
  display: none;
}

.homework-form {
  font-weight: 500;
  font-size: 18px;

  & span:not(& label>span, .rdtPrev span,
.rdtNext span) {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 51px;
  }

  .homework-form_dates {
    display: grid;
    grid-template-columns: minmax(auto, 400px) minmax(auto, 400px);
    gap: 70px;
    margin-top: 60px;
  }

  .homework-form_area {
    margin-top: 40px;

    & .drop-down-filter__wrapper {
      display: inline-block;
      margin-left: 17px;

      .drop-down-filter {
        font-weight: 700;
      }
    }
  }

  //& button {
  //  margin-top: 70px;
  //
  //  &~button {
  //    margin-left: 30px;
  //  }
  //}
}