.toggle {
  position: relative;
  margin-left: 30px;
  width: 60px;
  height: 30px;
  background: #a786df;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  .moon-day {
    position: absolute;
    margin: 3px 0px 3px 6px;
  }
  .sun {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 3px;
  }
  .circle {
    z-index: 2;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 4px;
    border-radius: 50px;
    top: 4px;
    border: #ffffff;
    background: #ffffff;

  }
  .circle-night{
    z-index: 2;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 34px;
    top: 4px;
    border-radius: 50px;
    border: #ffffff;
    background: black;

  }
  .sun-night{
    display: none;
  }
  .moon{
    display: none;
  }
}
