@import "src/style/colors";

.toggle {
  display: flex;
  width: 60px;
  height: 30px;
  background: $lavender-color;
  box-shadow: 2px 4px 8px $black 15%;
  border-radius: 15px;
  border: none;
  margin-top: 27px;
  overflow: hidden;

  svg {
    margin: 0 5px;
  }

  .circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: #ffffff;
    background: #ffffff;
    transition: all 0.5s ease;
  }

  .dark-theme {
    margin-left: 0;

    .circle {
      background: $black;
    }
  }
}

.toggle-container{
  display: flex;
  align-items: center;
  margin-left: -29px;
  cursor: pointer;
  transition: margin-left 0.3s ease-out;

  .toggle-color {

    path {
      stroke: $white;
    }

    .toggle-fill-color {
        fill: $white;
    }
  }
}

