@import "src/style/colors"; 

.new-group-page {
  padding: 20px 0 0 45px;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .delete-btn {
    margin-left: auto;
    margin-right: 45px;
  }

  .btn-text {
    margin-left: 30px;
  }
}

.choose-course {
  display: grid;
  grid-template-columns: 71px auto;

  .drop-down-filter svg {
    border: 1px solid $medium-gray;
    border-radius: 5px;
    background-color: $white;
  }
}

.choose-count {
  display: grid;
  grid-template-columns: 150px auto;
}
.choose-status {
  display: grid;
  grid-template-columns: 150px auto;
}

.default-value {
  display: none;
}

.teachers-list, .tutors-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 261px auto;
}

.tutors-list {
  margin-bottom: 72px;
}

label {
  padding-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: 305px 305px;
}

