@import "src/style/colors"; 

.editing-page {
  margin-left: 65px;
  margin-bottom: 20px;

  h1 {
    padding: 90px 0 35px 0;
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
  }
}

.default-value {
  display: none;
}

.teachers-list, .tutors-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 261px auto;
}

.tutors-list {
  margin-bottom: 72px;
}

label {
  padding-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: 305px 305px;
}

.textarea {
  resize: none;
  width: 400px;
  min-height: 56px;
  background: $white;
  border: 1px solid $medium-gray;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  -moz-appearance: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  cursor: text;
}