@import "./src/style/colors";

.groups-table-header{
  font-size: 20px;
  font-weight: 600;  
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;  
}
.group-table-wrapper{
  max-width: 850px;
  border-bottom: 1px solid $medium-gray;
}
.group-table-row-wrapper{
  // max-width: 850px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.group-table-flex-container{
  display: flex;
  justify-content: space-between;
}
.group-table-grid-container{  
  display: grid;  
  grid-template-columns: 250px 250px 200px 150px;

}
.filters-row{
  padding-top: 20px;
  padding-bottom: 20px;
  .drop-down-filter__wrapper{
    font-size: 14px;
  }
}
.group-column{
  padding-left: 25px;  
  .drop-down-filter{
    justify-content: center;
  }
}
.group-table-row{
  word-wrap: break-word;
  .drop-down-filter__list-wrapper{
    background-color: $light-gray;
  }
  .drop-down-filter {
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
  }
}