@import './src/style/colors';

.content-div {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.one-block {
  padding: 0 20px;
  width: 120px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $medium-gray;
}