@import '../../style/colors';

$translate-arrow: transform 0.25s ease;

.array-down {
  transition: $translate-arrow;
  transform: rotate(-90deg);
}

.array-up {
  transition: $translate-arrow;
  transform: rotate(90deg);
}

.placeholder {
  font-weight: 400;
}

.filter-element_selected {
    font-weight: 600;
    color: $lavender-color;
  }
