.drop-down-filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.drop-down-filter__wrapper button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 18px;
}

.drop-down-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 148px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.drop-down-filter input {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: end;
  padding: 0;
  margin: 0;
  border: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  cursor: pointer;
}

.drop-down-filter input:focus {
  outline: 0;
}

.drop-down-filter path {
  fill: #000;
}

.drop-down-filter svg {
  margin-left: 4px;
}

.drop-down-filter .array-down {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.drop-down-filter .array-up {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.drop-down-filter.table {
  color: #A786DF;
}

.drop-down-filter.table path {
  fill: #A786DF;
}

.drop-down-filter__list-wrapper {
  top: 28px;
  right: 6px;
  background-color: #fff;
  text-align: right;
  position: absolute;
  padding: 10px 20px;
  max-height: 152px;
  min-width: 140px;
  -webkit-box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 2;
}

.drop-down-filter__list {
  padding: 0;
  line-height: 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 99px;
  max-height: 132px;
}

.drop-down-filter__list.overflow {
  padding-right: 10px;
  overflow: auto;
}

.drop-down-filter__list .drop-down-filter__element {
  cursor: pointer;
  border-bottom: 1px solid #dbdbdb;
  padding: 9px 0;
}

.drop-down-filter__list .drop-down-filter__element:last-child {
  border: 0;
  padding-top: 10px;
  padding-bottom: 0;
}

.drop-down-filter__list .drop-down-filter__element:first-child {
  padding-bottom: 10px;
  padding-top: 0;
}

.drop-down-filter__list .drop-down-filter__element::marker {
  content: "";
}

.drop-down-filter__list .drop-down-filter__element:hover, .drop-down-filter__list .drop-down-filter__element.selected {
  color: #A786DF;
}

.drop-down-filter__list .drop-down-filter__element.selected {
  font-weight: 600;
}

.drop-down-filter__list::-webkit-scrollbar {
  width: 1px;
}

.drop-down-filter__list::-webkit-scrollbar-track {
  background-color: #ebe3f8;
}

.drop-down-filter__list::-webkit-scrollbar-thumb {
  background-color: #A786DF;
}
/*# sourceMappingURL=FilterList.css.map */