.avatar-img {
  position: relative;
  img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
  }

  .svg-fond {
    z-index: 0;
    background: #8a8a8a;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;

    svg {
      height: 10px;
      width: 10px;
    }
  }
}
.avatar-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;  
}
.margin-right-avatar{
  margin-right: 5px;
}
.avatar-role {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

