.exit {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  
  .exit-text {
    margin-left: 15px;
  }
}
