@import "src/style/colors";

.font-400{
  font-weight: 400;
}
.font-600{
  font-weight: 600;
}

.is-active{
  transform: rotate(180deg);
}

.content-container {

}

.relative {
  position: relative;
}

.filter-list-wrapper {
  width: max-content;
  position: absolute;
  top: -30px;
  right: 30px;
}
.lessons-container{
  border-radius: 15px;
  position: relative;
  width: 940px;  
  background-color: $white ;
  box-shadow: 4px 7px 15px $box-shadow-datepicker-color;
  & > *:not(:first-child) {
    border-top: 1px solid $medium-gray;
  }
}
// .grid{
//   display: grid;
//   grid-template-columns: 250px 470px;
//   grid-template-rows: 1fr;
// }

.lesson-container {
  &.active{
    
    button{
      transform: rotateZ(180deg);
    }
  }

  .link-wrapper {
    position: absolute;
    right: -75px;
    top: 20px;
    a {
      font-size: 14px;
    }

  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    border: 1px solid $medium-gray;
    line-height: 0;
    text-align: center;
    background-color: $white;
    position: absolute;
    right: 45px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    & path {
      fill: $lavender-color;
    }
    &:hover{
      background-color: $lavender-color;
      path {
        fill: $white;
      }
    }
  }
}

  .header-container {
    padding-bottom: 30px;
    padding-right: 75px;
    line-height: 21px;
    display: flex;

    .lesson-main-info{
      display: flex;
    }
    .lesson-name{
      margin-right: 50px;
      width: 84px;
      line-height: 21px;
    }
    .lesson-date{
      margin-right: 90px;
    }

    
  .accordion-content-container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid $medium-gray;
       

  }
  .container-250{
    width: 250px;
    margin-bottom: 40px;
    
  }
  .container-470{
    width: 470px;
    margin-bottom: 40px;
    
  }
  
}

.additional-info {
  margin-left: 84px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-container {
  display: flex;
  align-items: center;
  .video-txt{
    white-space: nowrap;
  }
  .video-link{
    display: block;
    margin-left: 175px;
  }
}