@import "src/style/colors";

.font-400{
  font-weight: 400;
}
.font-600{
  font-weight: 600;
}

.is-active{
  transform: rotate(180deg);
}

.relative {
  position: relative;
}

.filter-list-wrapper {
  width: max-content;
  position: absolute;
  top: -30px;
  right: 30px;
}
.lessons-container {
  border-radius: 15px;
  position: relative;
  padding-right: 85px;
  background-color: $white ;
  box-shadow: 4px 7px 15px $box-shadow-datepicker-color;
  & > *:not(:first-child) {
    border-top: 1px solid $medium-gray;
  }
}

.lesson-container {
  padding-right: 75px;
  position: relative;
  & button.active{
      transform: rotateZ(180deg);
  }

  .link-wrapper {
    position: absolute;
    right: 45px;
    top: -34px;
    a {
      font-size: 14px;
    }
  }

  & button {
    position: absolute;
    margin: auto 0;
    right: 0;
    transition: all 0.3s ease;
  }
}

  .header-container {
    padding-bottom: 30px;
    line-height: 21px;
    display: flex;

    .lesson-main-info{
      display: flex;
    }
    .lesson-name{
      margin-right: 50px;
      width: 84px;
      line-height: 21px;
    }
    .lesson-date{
      margin-right: 90px;
    }


  }

.accordion-content-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  word-break: break-all;
}

.accordion-content-container:last-child {
  border-bottom: none;
}

.additional-container {
    display: flex;
    white-space: break-spaces;
}

.additional-info {
  margin: 0 0 0 84px;
}

.video-container {
  display: flex;
  margin-bottom: 38px;
  white-space: break-spaces;

  .video-link{
    display: block;
    margin-left: 175px;
  }
}

.video-txt{
  white-space: nowrap;
  align-self: baseline;
}

.lesson-container+.lesson-container {
  margin-top: 50px;
}
