$accent-purple: #A786DF;

.register-form-wrapper {
  padding-left: 45px;

  .btn-text {
    margin-left: 60px;
  }

  .flex-container {
    display: flex;
    align-items: flex-start;

    label {
      margin-top: 0;
    }

  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .asterisk {
    color: $accent-purple;
  }

  .attention {
    color: red;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 36px;
  }

  .reg-button {
    background-color: $accent-purple;
    width: 238px;
    height: 51px;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    border: 0;
    color: white;
    margin-right: 80px;
  }

  .cancel-button {
    background-color: transparent;
    color: $accent-purple;
    border: 0;
  }

  #policy-label {
    font-size: 14px;
    margin-left: 10px;
    color: #8A8A8A;
  }

  .buttons {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}

