$accent-purple: #A786DF;

.register-form-wrapper{
  width:min-content !important; //иначе плывут флекс элементы при сворачивании панели 
  background-color: #F6F7F9;
  padding: 70px 121px 78px 65px;
  .input-style {
    line-height: 27px;
    width: 438px;
    height: 56px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    padding: 0 20px;
  } 
  .flex-container {
    gap: 20px;
  }
  .custom-checkbox{
    padding: 0;
    margin-right: 24px;
  }
  h1{
    line-height: 29px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  label{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
  input {
    font-size: 18px;
    font-weight: 400;
  }
  .custom-password{
    font-size: 30px;
    color:gray;
    letter-spacing: 5px;
   }
.flex-item{
     margin-bottom: 30px;
   }
}
.item-patronymic{
  align-self: center;
}
.attention{
  color: red;
  margin-top: 10px;
}
.warning-validation{
  margin-top:6px;
}

#policy-label {  
  font-weight: 500;
font-size: 14px;
line-height: 16px;
  margin-left: 10px;
  color: #8A8A8A;  
}
.buttons{  
  margin-top: 70px;
  margin-bottom: 30px;
}