@import './src/style/colors';

.groups-header {
  margin-bottom: 8px;
  display: flex;
}

.groups-page{

  .content-container {
    padding-top: 30px;
  
    .groups-link {
      text-align: right;
      padding-bottom: 20px;
    }

    .groups-list {
      padding-top:20px;
      display: grid;
      grid-template-columns: 305px auto;
      border-top: 1px solid $medium-gray;
      
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        padding-bottom: 20px;
      }
    }

    .names-list {
      font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        span {
          display: block;
          padding-bottom: 20px;
        }
    }
  
    .student-list {
      padding:30px 0;
      display: grid;
      grid-template-columns: auto 267px;
      border-top: 1px solid $medium-gray;
      h2 {
        margin-bottom: 20px;
      }

      span {
        padding-top: 30px;
        display: block;
      }
    }
  }
}
