$white: #fff;
$black: #000;
$background-color: #F6F7F9;
$selection-color: #EBE3F8;
$lavender-color: #A786DF;
$link-color: #643173;
$light-gray: #f3f3f3;
$medium-gray: #DBDBDB;
$dark-gray: #8A8A8A;
$modal-background-color: #8a8a8a8a;
$pale-red-color: #F45B69;

$lavender-button-hover: #8663c2;

// Datepicker styles color
$box-shadow-datepicker-color: rgba(0, 0, 0, 0.1);
$box-shadow-datepicker-table-color: rgba(0, 0, 0, 0.25);
$hover-datepicker-color: #eee;
$light-lavender-color: #d8bbf5;