@import './src/style/colors';

.form-input {
  outline-color: transparent;
  border-radius: 5px;
  padding: 14px 20px 15px 22px;
  margin-top: 10px;
  border: 1px solid $medium-gray;
  transition: outline-color .3s ease;

  &::placeholder {
    font-weight: 400;
    color: $dark-gray;
  }

}
.readonly-input {
  cursor: auto;
  background-color: $medium-gray;
  color:$dark-gray;
  &:focus {
    outline: none;
  }
}
.homework-form .form-input {
  width: 870px;
}

.login-page-form .form-input,
.homework-form_dates .form-input {
  width: 400px;
}

.form-element {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;

  &:first-child {
    margin-top: 50px;
  }

  &.with-dropdown {
    align-items: center;
    margin-bottom: 10px;

    .drop-down-filter svg {
      border: 1px solid $medium-gray;
      border-radius: 5px;
      background-color: $white;
    }
  }
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.form-grid-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 438px 438px;

  & .form-element {
    margin-top: 30px;
  }
}

.buttons-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 70px 0;
}

.custom-password {
  font-size: 30px;
  color:gray;
  letter-spacing: 5px;
  padding-bottom: 0;
  padding-top: 0;
}

.invalid-input {
  outline: 1px solid rgba(255, 41, 0, 0.78);
}

.invalid-feedback {
  margin-top: 10px;
  color: #F45B69;
  font-size: 15px;
}
