$lavender-color: #A786DF;
$translate-arrow: transform 0.25s ease;
$zero-style: 0;
$font-size: 18px;

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}


button {
  padding: $zero-style;
  border: $zero-style;
  background-color: transparent;
  font-size: $font-size;
}

.drop-down-filter__wrapper {
  @include flex-end;
  font-size: $font-size;
  width: fit-content;
  position: relative;
}

.drop-down-filter {
    @include flex-end;
    min-width: 148px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;

    & svg {
        margin-left: 4px;
    }

    & .array-down {
        transition: $translate-arrow;
        transform: rotate(-90deg);
    }

    & .array-up {
        transition: $translate-arrow;
        transform: rotate(90deg);
    }

    &.table {
        color: $lavender-color;

        & path {
            fill: $lavender-color;
        }
    }
}

.drop-down-filter__list-wrapper {
    top: 28px;
    right: 6px;
    background-color: #fff;
    text-align: right;
    position: absolute;
    padding: 10px 20px;
    max-height: 152px;
    min-width: 140px;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 2;
}

.drop-down-filter__list {
  padding: $zero-style;
  line-height: $font-size;
  width: max-content;
  min-width: 99px;
  max-height: 132px;

    &.overflow {
        padding-right: 10px;
        overflow: auto;
    }

    .drop-down-filter__element {
        cursor: pointer;
        border-bottom: 1px solid #dbdbdb;
        padding: 9px 0;

    &:last-child {
      border: $zero-style;
      padding-top: 10px;
      padding-bottom: $zero-style;
    }

    &:first-child {
      padding-bottom: 10px;
      padding-top: $zero-style;
    }

        &::marker {
            content: "";
        }

        &:hover,
        &.selected {
            color: $lavender-color;
        }

        &.selected {
            font-weight: 600;
        }
    }
    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ebe3f8;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $lavender-color;
    }
}
