//common styles
* {
  margin: 0;
  box-sizing: border-box;
}

// Мне эти стили нужны были визуально посмотреть как все выглядит ок не ок,
// т.к. это другая задача, то могу удалить как ты проверишь, ну и их в общие надо наверное

.content-container {
  background: #FFFFFF;
  max-width: 940px;
  width: 100%;
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 50px 45px 46px 45px;
}
//end common


// Сделала сетку на глаз, потому что там размеры непонятные, визуально очень похоже
// могу кнчн поменять + шрифты еще не подключены, т.к. если кто-то подключит
// то чтобы не было конфликтов

.homework-card-content {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  font-size: 18px;

  &~.homework-card-content{
    margin-top: 30px;
  }

  .task-number {
    margin-right: 71px;
    margin-top: 31px;
  }

  .task-status {
    place-self: end;
    margin-bottom: 40px;
  }

  .homework-title {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 13px;
  }

  .homework-dates {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    line-height: 21px;

    &+.homework-dates {
      margin-left: 43px;
    }
  }
}