.collapse-button { 
  padding: 0; 
  border: none; 
  background-color: transparent; 
  width: 23px; 
  height: 46px; 
  overflow: hidden; 
  position: absolute; 
  right: 5px; 
  top: 175px; 
  font-size: 0; 
  cursor: pointer; 
 
  &>.left-part { 
    align-items: center; 
    border-bottom-left-radius: 50px; 
  border-top-left-radius: 50px; 
    background-color: #A786DF; 
    height: 46px; 
    width: 28px; 
    display: flex; 
    position: relative; 
    position: fixed; 
    padding-left: 3px; 
  } 
 
  &>.right-part { 
    position: absolute; 
    position: fixed; 
    right: 0; 
    top: 0; 
    width: 6px; 
    height: 46px; 
    background-color: #A786DF; 
  } 
} 
 
@media (max-height: 820px) {
  .collapse-button {
    top: 125px;
  }
}
