.comment-container{
  margin-top: 50px;
}

img.comment-avatar {
  position: unset; 
  top: auto;
  left: auto;
}

.first-row{
  display: flex;
  justify-content: space-between;
  .user-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .date{
    color: #8A8A8A;
  }
}

.current-users-comment{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  .comment{
    max-width: 678px;
    padding: 30px 40px;
    background-color: #EBE3F8;
    border-radius: 15px 0px 15px 15px; 
    margin-left: 152px;
    .comment-text{
      font-size: 18px;
    }
  }
}

.other-users-comment{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .comment{
    max-width: 678px;
    background-color: #F3F3F3;
    border: 1px solid #DBDBDB;
    border-radius: 0px 15px 15px 15px;
    padding: 30px 40px;
    margin-right: 152px;
    .comment-text{
      font-size: 18px;
    }
  }
  
}

