.collapse-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 29px;
  height: 46px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 198px;
  font-size: 0;
  cursor: pointer;

  &>.left-part {
    align-items: center;
    background-color: #A786DF;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    position: relative;
    padding-left: 3px;
  }

  &>.right-part {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 46px;
    background-color: #A786DF;
  }
}

