.input-text{
  input{
    font-family: 'Raleway';
    font-weight: 400;
  font-size: 18px;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
  line-height: 54px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  }
  
}