.tab-item {
  box-shadow: 4px 7px 15px 0px #00000014;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 15px 15px 14px;
  border-radius: 15px;
}