@import "./src/style/colors";

.groups-table-header{
  font-size: 20px;
  font-weight: 600;
  width: 436px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;  
}
.group-table-wrapper{
  max-width: 850px;
  border-bottom: 1px solid $medium-gray;
}
.group-table-row-wrapper{
  max-width: 850px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.group-table-flex-container{
  width: 438px;
  display: flex;
  justify-content: space-between;
}
.filters-row{
  padding-top: 20px;
  padding-bottom: 20px;  
}
.second-column{
  width: 133px;
  .drop-down-filter{
    justify-content: flex-start;
  }
}
.group-table-row{
  .drop-down-filter__list-wrapper{
    background-color: $light-gray;
  }
  .drop-down-filter {
    font-weight: 400;
    font-size: 18px;
  }
}