@import './src/style/colors';

.link-arrow {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 18px;
  color: $link-color;
  text-decoration: none;

  .link-arrow_left {
    transform: rotateY(180deg);
  }
}