.link-arrow {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 18px;
  color: #643173;
  text-decoration: none;

  & svg {
    margin-bottom: -6px;
  }

  .link-arrow_left {
    transform: rotateY(180deg);
  }
}