@import './src/style/colors';

.journal-content-container {
  font-size: 18px;
  height: 80%;
  margin-top: 40px;
  cursor: default;

  .scroll-content-div {
    width: 100%;
    overflow-x: hidden;
  }

  .one-block {
    padding: 0 20px;
    width: 120px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $medium-gray;
  }

  .block-column {
    align-items: flex-start;
    flex-direction: column;
    place-content: baseline;
    width: 172px;

    span {
      font-size: 16px;
      font-weight: 400;
      margin-top: 5px;
    }

    b:first-child {
      margin-top: 10px;
    }
  }

  .tall-header-block {
    height: 97px;
    padding-top: 0;
    padding-bottom: 20px;

    span {
      font-size: inherit;
      margin: 0 0 10px 0;
      font-weight: 400;
      color: $dark-gray;
    }
  }

  .text-overflow-wrap {
    overflow-wrap: anywhere;
  }

  .list-container {
    margin-top: 50px;

    .students-list {
      overflow-wrap: anywhere;
      width: 285px;
      padding: 0;
      justify-content: flex-start;
    }

    .tall-header-block {
      place-items: self-end;
      padding-bottom: 20px;
    }

    .rating {
      width: 102px;

      .indicator {
        width: 8px;
        height: 8px;
        margin-right: 9px;
        border-radius: 50%;

        &.red {
          background-color: $red;
        }

        &.green {
          background-color: $green;
        }
        &.yellow {
          background-color: $yellow;
        }
      }
    }

    .students-list,
    .rating {
      border-right: 1px solid $dark-gray;
    }
  }

  .list-view-input {
    background-color: transparent;
    text-align: center;
  }
}