@import './src/style/colors';

.journal-content-container {
  font-size: 18px;
  height: 80%;
  margin-top: 40px;
  cursor: default;

  .scroll-content-div {
    width: 100%;
    overflow-x: hidden;
  }

  .one-block {
    padding: 0 20px;
    width: 120px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $medium-gray;

    & .btn-text {
      padding: 0;
      font-weight: 600;
      line-height: 21px;
      color: $lavender-color;
      border: 0;
      padding: 15px 20px;
      background: none;
  
      &:disabled {
        color: $dark-gray;
        cursor: auto;
      }
    }

    & .form-input_link__button {
      margin: auto;
    }
  }

  .one-block_borderless {
    border: 0;
  }

  .block-column {
    align-items: flex-start;
    flex-direction: column;
    place-content: baseline;
    width: 172px;

    span {
      font-size: 16px;
      font-weight: 400;
      margin-top: 5px;
    }

    b:first-child {
      margin-top: 10px;
    }
  }

  .tall-header-block {
    height: 97px;
    padding-top: 0;
    padding-bottom: 20px;

    span {
      font-size: inherit;
      margin: 0 0 10px 0;
      font-weight: 400;
      color: $dark-gray;
    }

    b:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .text-overflow-wrap {
    overflow-wrap: anywhere;
  }

  .list-container {
    margin-top: 50px;

    .students-list {
      overflow-wrap: anywhere;
      width: 285px;
      padding: 0;
      justify-content: flex-start;
    }

    .tall-header-block {
      place-items: self-end;
      padding-bottom: 20px;
    }

    .rating {
      width: 102px;

      .indicator {
        width: 8px;
        height: 8px;
        margin-right: 9px;
        border-radius: 50%;

        &.red {
          background-color: $red;
        }

        &.green {
          background-color: $green;
        }

        &.yellow {
          background-color: $yellow;
        }
      }
    }

    .students-list,
    .rating {
      border-right: 1px solid $dark-gray;
    }
  }

  .list-view-input {
    background-color: transparent;
    text-align: center;
  }

  .journal-filter-item {

    & .drop-down-filter,
    & .drop-down-filter__list-wrapper,
    & .drop-down-filter__list {
      min-width: max-content;
    }

    & .drop-down-filter {
      font-weight: inherit;
    }

    & .drop-down-filter__list-wrapper {
      right: -20px;
    }
  }

  .sort-buttons {
    align-items: center;
    flex-direction: row;
    path {
      fill: $lavender-color;
    }
  }

  .button-style-reset {
    border: 0;
    background: transparent;
    width: fit-content;
    cursor: pointer;
    display: inline;
  }
}