@import "./src/style/colors";

.homework-form {
  font-weight: 500;
  font-size: 18px;
  max-width: fit-content;
  margin: 0;
  .textarea-style {
    background: $white;
    border: 1px solid $medium-gray;
    outline-color: transparent;
    border-radius: 5px;
    padding: 14px 20px 15px 22px;
    margin-top: 10px;
    transition: outline-color 0.3s ease, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:focus {
      outline: 1px solid $lavender-color;
    }
    &::placeholder {
      font-weight: 400;
      color: $dark-gray;
    }
  }
  .dark-theme-textarea{
    color: #8A8A8A;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid #535353;
    background-color: #1A1D1F;
  }
  .title-number-groups {
    margin-right: 10px;
  }
  & .homework-form_title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 11px;
  }

  .homework-form_task {
    font-weight: inherit;
    margin-left: 50px;
  }

  .homework-form_dates {
    margin-top: 60px;

    &.form-grid-container {
      grid-template-columns: 400px 400px;
      column-gap: 70px;
    }
  }
  .courses-list {
    .custom-checkbox:nth-child(1) {
      margin-left: 37px;
    }
  }
  .btn ~ .btn {
    margin-left: 30px;
  }

  & textarea {
    min-height: 83px;
  }

  .form-link {
    max-width: 815px;
    color: $lavender-color;
    text-decoration: underline;
    overflow-wrap: break-word;
  }

  .delete-button {
    width: 100%;
    align-items: center;
    justify-content: flex-end;

    & .btn {
      padding: 0;
      color: $pale-red-color;
    }
  }

  .radio-group-container {
    max-width: 690px;
  }

  .list-view-input {
    width: auto;
    background: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .form-input_link__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    & + .form-input_link__container {
      margin-top: 20px;
      padding: 0;
    }

    .form-input_link {
      margin: 0;
      max-width: 805px;
    }

    .btn.ellipse {
      margin: 0 0 0 20px;

      &:hover {
        background-color: $lavender-button-hover;
      }
    }

    .form-input_link__delete-link {
      cursor: pointer;

      & > svg {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-left: 20px;

        path {
          stroke: $lavender-color;
        }
      }
    }
  }
}

.form-input_link__button {
  place-self: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $lavender-color;
  border-radius: 50%;
  margin-left: 20px;
  width: 45px;
  height: 45px;

  &:hover {
    background-color: $lavender-button-hover;
  }
}
