@import "./src/style/colors";

.homework-form {
  font-weight: 500;
  font-size: 18px;
  max-width: fit-content;
  margin: 0;

  & .homework-form_title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 11px;
  }

  .homework-form_task {
    font-weight: inherit;
    margin-left: 50px;
  }

  .homework-form_dates {
    margin-top: 60px;

    &.form-grid-container {
      grid-template-columns: 400px 400px;
      column-gap: 70px;
    }
  }

  .btn ~ .btn {
    margin-left: 30px;
  }

  & textarea.form-input {
    min-height: 83px;
    resize: none;
  }

  .form-link {
    max-width: 815px;
    color: $lavender-color;
    text-decoration: underline;
    overflow-wrap: break-word;
  }

  .form-input_link__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    & + .form-input_link__container {
      margin-top: 20px;
      padding: 0;
    }

    .form-input_link {
      margin: 0;
      max-width: 805px;
    }

    .form-input_link__button {
      place-self: baseline;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $lavender-color;
      border-radius: 50%;
      margin-left: 20px;
      min-width: 45px;
      height: 45px;

      &:hover {
        background-color: $lavender-button-hover;
      }

    }

    .form-input_link__delete-link {
      cursor: pointer;

      & > svg {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-left: 20px;

        path {
          stroke: $lavender-color;
        }
      }
    }

  }

  .invalid {
    outline: 1px solid rgba(255, 41, 0, 0.78);
  }

  .invalid-feedback {
    margin-top: 10px;
    color: #ff6040;
    font-size: 15px;
  }
}
