* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container {
  padding-top: 90px;
  padding-left: 65px;
}

.content-container {
  background: #FFFFFF;
  width: 100%;
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 50px 45px 46px 45px;
}

.margin-common-content {
  margin: 70px 120px 70px 20px;
}
.flex-container {
  display: flex;
}