@import './src/style/colors';
@import 'style/commonFormStyles';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
  padding-top: 70px;
  padding-left: 380px;
  overflow-x: hidden;
  transition: padding-left ease-in-out 0.5s, padding-left ease-in-out 0.5s;
}
.closed{
  padding-left: 114px;
  transition: padding-left ease-in-out 0.5s, padding-left ease-in-out 0.5s;
}

.form-container {
  padding-left: 65px;
  padding-top: 20px;

  &.login-page-form {
    padding-top: 43px;
  }
}

::-moz-selection{
  background-color: $selection-color;
}

::selection{
  background-color: $selection-color;
}

.content-container {
  background: $white;
  width: 940px;
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 50px 45px;
  transition: width ease-in-out 0.5s;
}

.flex-container {
  display: flex;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark-gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $dark-gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $dark-gray;
}

.link-arrow {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: $link-color;
}

.arrow-right,
.arrow-left {
  & path {
    fill: $link-color;
  }
}

.arrow-bottom {
  transform: rotate(90deg);
}

.arrow-top {
  transform: rotate(-90deg);
}

.arrow-left {
  transform: rotateY(180deg);
}

.buttons-after-list {
  width: 940px;
  justify-content: center;
  column-gap: 30px;
  transition: width ease-in-out 0.4s;
}