@import '../../style/colors';

.link-with-text-decoration {
  cursor: pointer;
  text-underline-offset: 1px;
  font-weight: 600;
  font-size: 18px;
  color: $link-color;
  text-decoration: underline;
}