@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* { 
    box-sizing: border-box;
}

button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 50px;
    
}

.light {
    background: #A786DF;
    color: #FFFFFF;

    &.unavailable {
        background:#8A8A8A;
    }

}
.light:hover {
  background: #8663C2;
}

.light:active {
  background:#8663C2;
}

.dark {
    background: #FFFFFF;
    border: 1px solid #A786DF;
    color: #000000;

    &.unavailable {
        border: 1px solid #8A8A8A;
        color: #8A8A8A;
    }

}

.dark:hover {
  background: #A786DF;
}

.dark:active {
  background: #A786DF;
}

.rectangular-button {
    width: 238px;
    height: 51px;
}

.button-publish {
width: 182px;
height: 51px;
}

.button-draft {
    width: 272px;
    height: 51px;
}

.button-cancel {
    font-weight: 600;
    line-height: 21px;
    color: #A786DF;
    width: 67px;
    height: 21px;
    border: 0;
    background: none;
}