.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 13px 15px;
  color: black;
  
  & .links-name {
    overflow: hidden;
    margin-left: 15px;
    width: 175px;
    transition: width 0.5s ease-in-out, margin 0.4s ease-in-out, opacity .3s ease-in-out;
    opacity: 1;
    white-space: nowrap;
  }
}

.nav-link.active,
.nav-link:hover {
  background-color: #a786df;
  border-radius: 5px;
  color: white;

  path {
    stroke: white;
  }
  .with-color-on-hover{
    fill: white;
  }
}

.nav-link + .nav-link {
  margin-top: 35px;
}

