 button {
   width: 190px; 
   margin-top: 52px !important;
}

.btn-text {
  margin-left:0 !important;
}

.default-value {
  display: none;
}

h1 {
  padding: 90px 0 50px 65px;
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

form {
  margin-left: 65px;
  margin-top: 0;
}

.teachers-list, .tutors-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 261px auto;
}

label {
  padding-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: 305px 305px;
}